* {
    font-family: 'Concert One';
    text-align: center;
    background-color: #ce5a2e;
    color: #fff;
}
.Block1 {
    float: left;
    width: 200px;
    height: 100px;
    margin: 1em;
  }
  .Block2 {
    float: right;
    width: 200px;
    height: 100px;
    margin: 1em;
  }

  #buttons {
  
    width: 20%;
    height: 20%;
    margin-right: auto;
    margin-left: auto;
    text-rendering: center;
  }


h1 {
    font-size: 80px;
    font-family: Bangers;
}

#log-in  {
    float: right;
}

img {
    width: 30%;
}

ol {
    text-align: center;
    text-decoration: none;
    list-style-position:inside;
}

h4 {
    font-size: 30px;
}

li {
    font-size: 25px;
}

#rules {
    margin-top: 6%;
}

hr {
    width: 85%;
    margin-top: 10%;
}