* {
    font-family: 'Concert One';
    text-align: center;
    background-color: #ce5a2e;
    color: #fff;
}

/*#fillerblock{*/
    /*background-color: cadetblue;*/
    /*padding-right: 100px;*/

/*}*/

#mainContent{
    height: 360px;
}

.hidden{
    visibility: hidden;
    display: none;
}

#header {
    text-decoration: none;
}

.link {
    text-decoration: none;
}

#playerchoice {
    float: left;
    /*width: 200px;*/
    /*height: 100px;*/
    margin: 1em;
  }
#computerchoice {
    float: right;
    /*width: 200px;*/
    /*height: 100px;*/
    margin: 1em;
  }

.button {
    
    width: 8%;
    height: 6%;
    padding: 1%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    outline: none;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#gif {
    outline: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
}


#stone:hover, #scissor:hover, #bag:hover  {
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}


h1 {
    font-size: 90px;
    font-family: Bangers;
}

#log-in  {
    float: right;
}

img {
    width: 200px;
}

ol {
    text-align: center;
    text-decoration: none;
    list-style-position:inside;
    margin-left: -50px;
    margin-bottom: -20px;
}

h4 {
    font-size: 30px;
}

li {
    font-size: 25px;
}


#rules {
    font-size: 25px;
}

hr {
    width: 85%;
    margin-top: 15%;
    margin-bottom: 2%;
}

h5 {
    font-size: 50px;
}
