<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link href="Stylesheet.css" rel="stylesheet" type="text/css"></link>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet"></link>
</head>
<body>
<h1>Sten Sax Påse</h1>
<form action="login" method="post">
    Username: <input name="username" type="text"/>
    Password: <input name="password" type="password"/>
    <input type="submit" value="Login"/>
</form>
</body>
</html>