<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <!--meta name="viewport" content="width=device-width, initial-scale=1.0"-->
    <title>Sten Sax Påse</title>
    <link href="Stylesheet.css" rel="stylesheet" type="text/css"></link>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet"></link>


</head>
<body>
<a href="/index.html" id="header"><h1>Sten Sax Påse</h1></a>
<div>
    <p th:text="Välkommen + ' ' +${username} +'!'"></p>
</div>

<div id="mainContent">

    <div id="playerchoice">
        <img class="hidden" src="bag.jpg" id="playerBag"></img>
        <img class="hidden" src="stone.jpg" id="playerRock"></img>
        <img class="hidden" src="scissor.jpg" id="playerScissors"></img>
    </div>

    <iframe id="gif" width="500" height="352"
            src="https://giphy.com/gifs/PS0VHHgFpZ9fO/html5">
    </iframe>
    <div class="hidden" id="resultText"></div>

    <div id="computerchoice" >
        <img class="hidden" src="bag.jpg" id="computerBag"></img>
        <img class="hidden" src="stone.jpg" id="computerRock"></img>
        <img class="hidden" src="scissor.jpg" id="computerScissors"></img>
    </div>





</div>

<!--img class="images" src="img.jpg">
<img class="images" src="img.jpg"-->

<div id = "buttons">

    <input type="image" src="icon-rock.png" name="saveForm" class="button" id="stone" />
    <input type="image" src="icon-scissor.png" name="saveForm" class="button" id="scissor" />
    <input type="image" src="icon-bag.png" name="saveForm" class="button" id="bag" />
    <input type="image" src="playAgain.png" name="saveForm" class="button hidden" id="reset" />


    <!--img id="stone" src="icon-rock.png">
    <img id="scissor" src="icon-scissor.png">
    <img id="bag" src="icon-bag.png"-->
</div>
<div>
    <ol>
        <p id ="rules"><em>¡REGLER!</em></p>
        <li>Sten smashar saxen</li>
        <li>Påse kväver stenen</li>
        <li>Saxen strimlar påsen</li>
    </ol>
</div>
<hr></hr>
<p id="footer">© Vanessa , Jimmy , Erik och Hans</p>


<script src="/script.js"></script>
</body>
</html>